<?xml version="1.0"?>
<configuration>
<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
        <section name="prjShotMonitor.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup><userSettings>
        <prjShotMonitor.Properties.Settings>
            <setting name="DestinationFolder" serializeAs="String">
                <value>\Desktop\3</value>
            </setting>
            <setting name="FileFormat" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="JpegQuality" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="TimerInterval" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="PlaySound" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SoundLocation" serializeAs="String">
                <value>D:\Codding\desktop\ShotMonitor\prjShotMonitor\res\sound\shot.wav</value>
            </setting>
            <setting name="DestinationFolderS" serializeAs="String">
                <value>\Desktop\3</value>
            </setting>
            <setting name="DestinationFolderW" serializeAs="String">
                <value>\Desktop\3</value>
            </setting>
            <setting name="FileFormatS" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="FileFormatW" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="JpegQualityS" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="JpegQualityW" serializeAs="String">
                <value>90</value>
            </setting>
            <setting name="TimerIntervalS" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="TimerIntervalW" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="DeviceIndex" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="DeviceIndexS" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="DeviceIndexW" serializeAs="String">
                <value>1</value>
            </setting>
        </prjShotMonitor.Properties.Settings>
    </userSettings>
</configuration>
